.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-of-type) {
        border-right: 1px solid #59616d;
        padding-right: 5px;
    }
}

.icon {
    width: 64px;
    height: 64px;
}
