.todaysCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141d30;
    color: #a6b2c6;
    height: 200px;
    width: 600px;
    border-radius: 20px;
    gap: 20px;
}