.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .infoToday {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        gap: 10px;
    }

    .statusIcon {
    width: 64px;
    height: 64px;
    }

    .infoName {
    font-weight: bold;
    }

    .infoValue {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}