.html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.weather-and-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #141d30;
    border-radius: 20px;

}

.fetch-button {
    height: 35px;
    width: 50px;
    border-radius: 20px;
    color: #4a5b7e;
    background-color: #1c2945;
}

.content {
    color: white;
}

.weather-icon {
    height: 50px;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 40px;    
    background-color: #060C1A;
    justify-content: space-between;
    gap: 30px;
    border-radius: 20px;
}

.second-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141d30;
    color: white;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

