.html, body {
    font-family: Arial, Helvetica, sans-serif;
}


.weather-info-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #141d30;
    border-radius: 20px;
    gap: 10px;
}

.fetch-button {
    height: 35px;
    width: 50px;
    border-radius: 20px;
    color: #4a5b7e;
    background-color: #1c2945;
}

.location {
    color: white;
    background-color: #4a5b7e;
}

.weather-and-image {
    display: flex;
    flex-direction: row;
}

.content {
    color: white;
    max-width: 150px;
}

.weather-icon {
    height: 50px;
    border-radius: 10px;
}

.weather-icon-clouds {
    width: 50px;
    height: 30px;
}

.weather-icon-snow {
    width: 35px;
    height: 35px;
}

.weather-icon-clear {
    width: 40px;
    height: 35px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 40px;    
    background-color: #060C1A;
    justify-content: space-between;
    gap: 30px;
    border-radius: 20px;
    margin: auto;
    max-width: 600px;
}

.second-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141d30;
    color: white;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

