.html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #060C1A;
}


.weather-info-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #141d30;
    border-radius: 20px;
    gap: 10px;
}

.fetch-button, .cat-button, .forecast-button, .exchange-button {
    min-height: 35px;
    min-width: 60px;
    border-radius: 20px;
    color: #4a5b7e;
    background-color: #1c2945;
}

.location {
    color: white;
    background-color: #4a5b7e;
}

.date-string {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
}

.weekday-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.weekday-display {
    font-size: 30px;
}

.month-display {
    font-size: small;
}

.time-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
}

.weather-and-image {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
}

.left-info-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    width: 100%;
    margin: 10px;
}

.right-info-bar {
    display: flex;
    flex-direction: column;
    color: white;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.content-temperature {
    font-size: 40px;
}

.content-temp-range {
    font-size: small;
}

.content-weather {
    font-size: 30px;
}

.content-feels-like {
    font-size: small;
}

.weather-icon {
    height: 100px;
    border-radius: 10px;
}

.weather-icon-clouds {
    width: 90px;
    height: 50px;
}

.weather-icon-snow {
    width: 60px;
    height: 60px;
}

.weather-icon-clear {
    width: 40px;
    height: 35px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-line {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #060C1A;
    justify-content: space-between;
    gap: 25px;
    margin: auto;
    max-width: 100%;
}

.second-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141d30;
    color: white;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.cat-fact {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal;
}

.bottom-line {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #060C1A;
    justify-content: space-between;
    gap: 25px;
    margin: auto;
    max-width: 100%;
}

.forecast-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141d30;
    color: white;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    gap: 20px;
}

.forecast-12-hours {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 10px;
}

.forecast-today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #202d4b;
}

.forecast-today.filled {
    min-height: 120px;
    gap: 10px;
}

.forecast-icon {
    width: 60px;
}


.fourth-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141d30;
    color: white;
    height: 300px;
    width: 300px;
    gap: 20px;
    border-radius: 20px;
}

.exchange-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 10px;
}

.exchange-today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
    background-color: #202d4b;
}

.exchange-name {
    font-weight: bold;
}

